@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";

::ng-deep .purchase-modal {
  & .mat-dialog-container {
    width: 1040px;
    max-height: 825px;
    padding: 0;
    border-radius: 10px;
  }

  &-header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: $main-yellow;

    & .close {
      position: absolute;
      right: 19.88px;
      top: 19.88px;
      width: 20.25px;
      height: 20.25px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $gray1;
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  &-content {
    padding: 20px 40px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      h3 {
        @include font-base(21px, 600, 33px);
      }
    }
    & .card-container{
      height: 490px;

    & .purchase-modal-content__product-purchase {
      margin-top: 20px;
      margin-bottom: 10px;
     }

      &.scroll {
        overflow-y: scroll;
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      margin-bottom: 35px;

      p {
        @include font-base(17px, 600, 27px)
      }

      &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        &-right {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 450px;

          & .purchase-weight {
            width: 220px;
          }

          & .purchase-sum {
            @include font-base(21px, 600, 33px);

            width: 120px;
            text-align: right;
          }
        }
      }

      &-bottom {
        display: flex;
        justify-content: flex-end;

        & app-button {
          margin-left: 10px;
        }
      }

      &:before {
        content: '';
        margin-bottom: 20px;
        left: 4.47%;
        width: 100%;
        height: 1px;
        background: $gray3;
        display: block;
      }
    }
  }
}


