<div class="product-container">
  <div class="left-container">
    <div class="big-container">
      <div class="arrows">
        <div class="arrows__wrapper" (click)="arrowClick(0)">
          <svg-icon-sprite
            [src]="'assets/sprites/sprite-multicolor.svg#arrow-product-slider'"
            [viewBox]="'0 0 7 12'"
            [width]="'7px'"
            [height]="'12px'"
            [classes]="'arrows-left'"
          ></svg-icon-sprite>
        </div>
        <div class="arrows__wrapper" (click)="arrowClick(1)">
          <svg-icon-sprite
            [src]="'assets/sprites/sprite-multicolor.svg#arrow-product-slider'"
            [viewBox]="'0 0 7 12'"
            [width]="'7px'"
            [height]="'12px'"
            [classes]="'arrows-right'"
          ></svg-icon-sprite>
        </div>
      </div>
      <img class="picture" [src]="mainImg" alt="img" />
    </div>
    <div class="small-container">
      <div
        class="small-image"
        *ngFor="let img of product.images; trackBy: trackByFn; index as idx"
      >
        <img
          class="pictures-small"
          [src]="img"
          alt="img"
          (click)="changeImage(img, idx)"
        />
      </div>
    </div>
  </div>
  <div class="right-container">
    <div class="head">
      <h3 class="head__title">{{ product.title }}</h3>
      <svg-icon-sprite
        [src]="'assets/sprites/sprite.svg#heart'"
        [viewBox]="'0 0 28 24'"
        [width]="'20px'"
        [height]="'20px'"
        [classes]="heart ? 'heart yellow' : 'heart'"
        (click)="like()"
      ></svg-icon-sprite>
    </div>
    <p class="availability">{{ availability }}</p>
    <div class="inform">
      <div class="inform_name">
        <p class="inform_name_list">Рейтинг</p>
        <p class="inform_name_list">Смак</p>
        <p class="inform_name_list">Розмiр</p>
        <p class="inform_name_list">Перiод вирощування</p>
        <p class="inform_name_list">Локацiя</p>
        <p class="inform_name_list">Умови зберiгання</p>
        <p class="inform_name_list">Строк зберiгання</p>
      </div>
      <div class="inform_result">
        <div class="rating-info">
          <app-rating-component [ratingStar]="rating"></app-rating-component>
        </div>
        <div class="inform_result_count">
          <p class="inform_result_count_data">{{ product.taste }}</p>
          <p class="inform_result_count_data">{{ product.size }}</p>
          <p class="inform_result_count_data">{{ product.periodGrow }}</p>
          <p class="inform_result_count_data">{{ product.location }}</p>
          <p class="inform_result_count_data">
            {{ product.storageConditions }}
          </p>
          <p class="inform_result_count_data">{{ product.timeStorage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
