<div class="search">
  <div class="search-input">
    <input
      class="search-input__size"
      type="text"
      [formControl]="searchProducts"
    />
    <div (click)="productSearch()" class="search-input-imag">
      <svg-icon-sprite
        [src]="'assets/sprites/sprite.svg#search-icon'"
        [viewBox]="'0 0 20px 20px'"
        [width]="'20px'"
        [height]="'20px'"
        [classes]="'search-input-imag-icon'"
      ></svg-icon-sprite>
    </div>
  </div>
  <div class="search-select">
    <select
      [class.padding]="placeholder"
      class="search-select__selected"
      [formControl]="citySort"
      (change)="sendSortType()"
    >
      <option
        class="option"
        *ngIf="placeholder"
        disabled
        selected
        hidden
        value=""
      >
        {{ placeholder }}
      </option>
      <option
        class="my-option"
        *ngFor="let searchCity of sortCity; trackBy: trackByFn"
        [value]="searchCity.viewValue"
      >
        {{ searchCity.viewValue }}
      </option>
    </select>
    <div class="search-select-location">
      <svg-icon-sprite
        [viewBox]="'0 0 18 20'"
        [width]="'18px'"
        [height]="'20px'"
        [src]="'assets/sprites/sprite.svg#location'"
        [classes]="'search-select-location__icon'"
      ></svg-icon-sprite>
    </div>
  </div>
  <div class="btn">
    <app-button [buttonText]="'Знайти'"></app-button>
  </div>
</div>
