<div class="search-wrapper">
  <app-button [buttonText]="'Знайти'" class="btn"></app-button>
  <div class="search">
    <div class="input-search">
      <input class="my-input" type="text" [formControl]="searchProducts" />
      <div (click)="productSearch()" class="position-icon">
        <i-feather class="icon-search" name="search"></i-feather>
      </div>
    </div>
    <div class="my-select">
      <div class="icon-location">
        <i-feather class="map-icons" name="map-pin"></i-feather>
      </div>
      <select
        [class.padding]="placeholder"
        class="my-selected"
        [formControl]="citySort"
        (change)="sendSortType()"
      >
        <option
          class="option"
          *ngIf="placeholder"
          disabled
          selected
          hidden
          value=""
        >
          {{ placeholder }}
        </option>
        <option
          class="my-option"
          *ngFor="let searchCity of sortCity"
          [value]="searchCity.viewValue"
        >
          {{ searchCity.viewValue }}
        </option>
      </select>
    </div>
  </div>
</div>
