<div class="container">
  <! --960x140-->
  <div class="product-img">
    <! --140x140-->
    <img src="{{ imgUrl }}" alt="product-img" />
  </div>
  <div class="interface-row">
    <! --780x54-->
    <div class="interface-row-description">
      <! --305x54-->
      <p>{{ productName }}</p>
      <p>{{ price }} ₴ / кг</p>
    </div>
    <div class="interface-row-counter">
      <! --115x30-->

      <i-feather
        class="icon minus"
        name="minus"
        (click)="countPrice(0)"
      ></i-feather>

      <div class="interface-row-counter-window">
        <p>{{ counter }} кг</p>
      </div>

      <i-feather
        class="icon plus"
        name="plus"
        (click)="countPrice(1)"
      ></i-feather>
    </div>

    <i-feather
      class="icon-trash"
      name="trash"
      (click)="deleteCard()"
    ></i-feather>

    <! --18x20-->
    <div class="interface-row-price">
      <p>{{ totalPrice }} ₴</p>
    </div>
  </div>
</div>
