<div class="first-block">
  <div class="image">
    <img
      class="banner"
      src="assets/images/home-page-img/home-page-bg.png"
      alt="image"
    />
  </div>
  <app-search></app-search>
  <app-slider></app-slider>
</div>

<div class="container">
  <div class="product">
    <p class="title">Популярні продукти</p>
    <div class="product_wrap">
      <div class="product_wrap_carts" *ngFor="let product of productList">
        <app-product-card [card]="product"></app-product-card>
      </div>
    </div>
  </div>
</div>
