@import "src/assets/styles/mixins";

.title{
  @include font-base(17px, 600, 27px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 27px;
  margin: 0 auto;
}

.product{
  display: flex;
  align-items: center;
  margin: 0 100px;
}

.product_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 36px 30px;
  &_carts{
    margin-bottom: 36px ;
  }
}
