<div class="wrapper">
  <div class="first">
    <div class="container">
      <div class="first-interactive">
<!--        <app-search></app-search>-->
        <div class="first-interactive__slider">
          <app-slider [categoriesList]="sliderList"></app-slider>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="product">
      <p class="product__title">Популярні продукти</p>
      <div class="product__wrap">
        <div class="product__wrap_carts" *ngFor="let product of productList">
          <app-product-card [card]="product"></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
