@import "src/assets/styles/mixins";
@import "src/assets/styles/vars";

.wrapper {
  background: $gray5;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .first {
      width: 1440px;
      background-image:
        url("../../../assets/images/home-page/banner.png");
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      z-index: 1;

      &-interactive {
        display: flex;
        flex-direction: column;
        position: relative;

        & app-search {
          position: absolute;
          top: -35px;
          left: -15px;
        }
        & app-slider {
          margin-top: 370px;

        }
      }
    }

    & .product {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background: $gray5;
      &__title{
        @include font-base(17px, 600, 27px);

        text-align: center;
        width: 182px;
        margin: 30px auto;
      }
      &__wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        //display: grid;
        //grid-template-columns: repeat(auto-fit, 250px);

        &_carts{
          margin-right: 20px;
          margin-bottom: 36px;
        }
      }
    }
  }
}


