@import "src/assets/styles/vars";

:host::ng-deep{
  & .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: $main-yellow!important;
  }

  & .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $main-yellow;
  }
}




