<div class="slider">
  <button class="slider_button slider_button_prev">
    <i-feather name="chevron-left"></i-feather>
  </button>
  <swiper [config]="config" class="slider_swiper">
    <ng-container *ngFor="let category of test">
      <ng-template swiperSlide>
        <div class="slider_swiper_box">
          <p>{{ category.number }}</p>
        </div>
      </ng-template>
    </ng-container>
  </swiper>
  <button class="slider_button slider_button_next">
    <i-feather name="chevron-right"></i-feather>
  </button>
</div>
