@import "src/assets/styles/vars";

.slider{
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;

  &_button{
    min-width: 30px;
    height: 28px;
    background: $main-white;
    backdrop-filter: blur(2px);
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;

    &_next{
      margin-left: 23px;
    }

    &_prev{
      margin-right: 23px;
    }

    &:hover{
      transform: scale(1.2);
    }
  }

  ::ng-deep &__icon {
    color: $main-black;
    width: 24px;
    height: 24px;

    &--right {
      transform: rotateY(180deg);
    }
  }

  &_swiper{
    padding: 10px 5px 30px;
  }
}
