@import "src/assets/styles/mixins.scss";
@import "src/assets/styles/vars.scss";
.input-wrapper{

  & .input-lable{
    @include font-base( 17px, 400);
    margin-bottom: 10px;
    color: $main-black;
  }

  & .input{
    @include font-base( 17px, 400);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 10px;
    gap: 10px;
    background: $white;
    border: 2px solid $gray1;
    border-radius: 10px;
  }

  & .error {
    border: 2px solid $red;
  }
}

