@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";

::ng-deep .registration-modal {
  .mat-dialog-container {
    display: block;
    padding: 0;
    border-radius: 10px;
    width: 1040px;
    height: inherit;
    overflow: auto;

  }

  .modal-header {
    display: flex;
    width: 1040px;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background: $main-yellow;

    &__icon {
      width: 20.25px;
      height: 20.25px;
      margin-right: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color:$gray1;
        transition: transform 0.3s ease-in-out;
      }

      &:active {
        transform: translateY(1px);
        transition: transform .2s linear;
      }

    }
  }

  .section {
    margin: 16px 40px 25px;
    display: flex;
    background: $white;

    & .left {
      max-width: 422px;

      &__title {
        @include font-base(35px, 500, 55px);

        letter-spacing: 0.0025em;
        margin-bottom: 20px;
      }

      .formGroup {

        &__radioGroup {
          display: block;
          margin-bottom: 20px;

          ::ng-deep :not(:last-child) .mat-radio-label {
            margin-right: 86px;
          }
        }

        & .inputGroupContainer {
          &::ng-deep app-input {
            .input-wrapper {
              .input {
                width: 422px;
              }
            }
          }
        }

        & .inputGroup {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 10px;
          }
        }


        &__text {
          @include font-base(12px, 400, 19px);

          max-width: 422px;
          min-height: 38px;
          letter-spacing: 0.004em;
          margin-bottom: 30px;

          & span {
            color: $blue;
            cursor: pointer;
          }
        }

        & .btnGroup {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    & .mid {
      margin: 0 80px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__line {
        border-left: 1px solid $gray3;
        height: 342px;
      }

      &__text {
        @include font-base(10px, 400, 16px);

        letter-spacing: 0.015em;
        color: $gray1;
        margin: 10px 0;
      }

    }

    & .right {
      min-height: 154px;
      max-width: 360px;

      &__text {
        @include font-base(17px, 400, 27px);

        letter-spacing: 0.005em;
        margin-top: 91px;
        margin-bottom: 13px;
        width: 360px;
      }

      &__inner {
        display: flex;
        flex-direction: column;
      }

      &__btn {
        @include font-base(25px, 400, 39px);

        border: 1px solid $main-yellow;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        padding: 4px 40px;
        cursor: pointer;
        color:$main-black;
        text-decoration: none;

        &:hover {
          background: $light-yellow;
          transition: background .2s linear;
        }

        &:active {
          transform: translateY(1px);
          transition: transform .2s linear;
        }

        & .img {
          &__google {
            margin-right: 10px;
          }

          &__facebook {
            margin-right: 16px;
          }
        }

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

    }

  }
}
