<div class="login-modal">
  <div class="login-modal-header"></div>
  <div class="login-modal-content">
    <div class="login-modal-content-left">
      <h1 class="element-text">Вхід</h1>
      <div class="element-email">
        <div class="element-email-input">
          <input value="ddd" />
        </div>
      </div>
      <div class="element-password">
        <div class="element-password-input">
          <input value="ddd" />
        </div>
      </div>
      <div class="element-footer">
        <div class="element-footer-left">
          <! --убрать разделение на лево и право и оставить
        только две строки в которых раскидать элементы (кроме кнопок.
        Кнопки так и остаются в отдельных обёртках).-->
          <div class="element-footer-left-top"></div>
          <div class="element-footer-left-bottom">
            <app-button [buttonText]="'sadsadasd'"></app-button>
          </div>
        </div>
        <div class="element-footer-right">
          <div class="element-footer-right-top"></div>
          <div class="element-footer-right-bottom"></div>
        </div>
      </div>
    </div>
    <p class="separator">або</p>
    <div class="login-modal-content-right"></div>
  </div>
</div>
