@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";

p {
  @include font-base(17px, 400, 26.75px);
}

h1 {
  @include font-base(35px, 500, 55.09px)
}

::ng-deep .login-modal {
  & .mat-dialog-container {
    width: 1040px;
    padding: 0;
    border-radius: 10px;
  }

  //& .mat-dialog-content{
  //}
  &-header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: $main-yellow;

    & .close {
      position: absolute;
      right: 19.88px;
      top: 19.88px;
      width: 20.25px;
      cursor: pointer;
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    width: 100%;
    height: 422px;

    &-left {
      display: block;
      padding: 16px 40px 40px 40px;
      margin-right: 40px;

      & .element-text, .element-email, .element-password {
        width: 422px;
        height: 70px;
        margin-bottom: 20px;
        border: 1px solid #000;
      }

      & .element-footer {
        display: flex;
        width: 422px;
        height: 95px;
        border: 1px solid #000;

        &-left {
          display: flex;
          flex-direction: column;
          width: 50%;
          border: 1px solid #000;

          &-top {
            height: 27px;
            width: 100%;
          }

          &-bottom {
            width: 196px;
            height: 40px;

            & app-button {
              display: flex;
              width: 100%;
            }
          }
        }

        &-right {
          display: flex;
          flex-direction: column;
          width: 50%;
          border: 1px solid #000;
        }
      }

      & .element-email-text, .element-password-text {
        margin-bottom: 10px;

      }

      & .element-email-input, .element-password-input {
        width: 100%;
      }

    }

    & .separator {
      @include font-base(10px, 400, 15.4);

      display: flex;
      align-items: center;
      position: relative;
      height: 100%;

      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 50%;
        width: 1px;
        height: 40%;
        background: $gray3;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 50%;
        width: 1px;
        height: 40%;
        background: $gray3;
      }
    }

    & .login-modal-content-right {
      display: block;
      padding: 91px 40px 177px 80px;

      //& p {
      //  @include font-base(17px, 400, 26.76px);
      //}

      &-label {
        margin-bottom: 13px;
      }

      & .label-google, .label-facebook {
        width: 360px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $main-yellow;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 4px 0;
        cursor: pointer;

        & p {
          @include font-base(25px, 400, 39.35px);
        }

        & .facebook-img {
          width: 11px;
          height: 21px;
          margin-right: 16px;
        }

        & .google-img {
          width: 21px;
          height: 21px;
          margin-right: 10px;
        }
      }
    }
  }
}
