<div class="purchase-total-wrapper">
  <div class="price-wrapper">
    <p class="together">Разом</p>
    <div class="allPrice">
      <p class="check">{{ totalProduct }}{{ totalProductText }} на суму</p>
      <p class="price">{{ allProductPrice || oldProductPrice }} ₴</p>
    </div>
    <div class="allPrice">
      <p class="check" [class.gray]="!package">Пакування</p>
      <p class="price" [class.gray]="!package">+{{ package || '00.00' }} ₴</p>
    </div>
    <div class="allPrice">
      <p class="check" [class.gray]="!delivery">Доставка</p>
      <p class="price" [class.gray]="!delivery">+{{ delivery || '00.00' }} ₴</p>
    </div>
    <hr />
    <div class="allPrice">
      <p class="check">До сплати</p>
      <p class="totalPrice">{{ allPrice || oldProductPrice }} ₴</p>
    </div>
  </div>
  <div class="button-wrapper">
    <ng-container
      *ngTemplateOutlet="btnEditOrder ? editBtn : defaultBtn"
    ></ng-container>
  </div>
</div>

<ng-template #editBtn>
  <app-button
    (click)="confirmChanges()"
    [buttonText]="'Підтвердити зміни'"
  ></app-button>
  <app-button
    (click)="cancelChange()"
    [buttonText]="'Скасувати зміни'"
    [buttonColor]="'transparent'"
  ></app-button>
</ng-template>

<ng-template #defaultBtn>
  <app-button
    (click)="confirmOrder()"
    [buttonText]="'Підтвердити замовлення'"
  ></app-button>
  <app-button
    (click)="editOrder()"
    [buttonText]="'Редагувати замовлення'"
    [buttonColor]="'transparent'"
  ></app-button>
</ng-template>
