<div class="purchase-total-wrapper">
  <div class="price-wrapper">
    <p class="together">Разом</p>
    <div class="allPrice">
      <p class="check">{{ totalProduct }}{{ totalProductText }} на суму</p>
      <p *ngIf="allProductPrice" class="price">{{ allProductPrice }}.00 ₴</p>
    </div>
    <div class="allPrice">
      <p class="check">Пакування</p>
      <p *ngIf="package" class="price">+{{ package }}.00 ₴</p>
    </div>
    <div class="allPrice">
      <p class="check">Доставка</p>
      <p *ngIf="delivery" class="price">+{{ delivery }}.00 ₴</p>
    </div>
    <hr />
    <div class="allPrice">
      <p class="check">До сплати</p>
      <p *ngIf="allProductPrice" class="totalPrice">{{ allPrice }}.00 ₴</p>
    </div>
  </div>
  <div class="button-wrapper">
    <app-button
      (click)="confirmOrder()"
      [buttonText]="'Підтвердити замовлення'"
    ></app-button>
    <app-button
      (click)="editOrder()"
      [buttonText]="'Редагувати замовлення'"
      [buttonColor]="'transparent'"
    ></app-button>
  </div>
</div>
