@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";

.header-wrapper{
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  margin: 0;

  .header {
    @include font-base(15px, 600, 24px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    &.yellow{
      background: $main-yellow;
    }

    &.transparent {
      background: linear-gradient(180deg, #FFFFFF 0%, rgba(245, 245, 245, 0) 100%);
    }

    &-right,
    &-left {
      display: flex;
      flex-direction: row;
      align-items: center;


      &-logo {
        height: 32px;
        width: 190px;
        border-radius: 0;
      }

      &-select {
        margin-left: 50px;
        width: 96px;
        height: 27px;
      }

      &-menu {
        margin-left: 20px;
        width: 77px;
        height: 27px;
      }
    }

    &-right {

      &-auth{
        display: flex;
        flex-direction: row;
        align-items: center;

        &-comment, &-like, &-basket{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 36px;
          cursor: pointer;
        }

        &__language{
          width: 58px;
          height: 32px;
          margin-right: 96px;
        }

        &__basket{
          margin-right: 30px;
          width: 36px;
          height: 36px;
        }

        &-like {
          &__size {
            width: 20px;
            height: 20px;
          }
        }

        &-avatar {

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 0;
          gap: 12px;
          width: 311px;
          height: 40px;

          &-user {
            display: flex;
            flex-direction: row;
            align-items: center;

            &__img {
              width: 32px;
              height: 32px;
              margin-right: 12px;
              border-radius: 50%;
            }
          }

          & :last-child {
            display: flex;
            justify-content: flex-end;
          }
        }
      }

      &__language{
        margin-right: 96px;

        &::ng-deep app-language{

          .btn{
            @include font-base(17px, 600, 24px);
          }

          .active.white{
            background: $white;
          }
        }
      }

      &__basket{
        margin-right: 43.5px;
        width: 36px;
        height: 36px;
      }
    }
  }
}



