<div class="rating">
  <div class="rating-body">
    <div class="rating-active" [style.width.%]="ratingStar"></div>
    <div class="rating-items">
      <input type="radio" class="rating_item" value="1" name="rating" />
      <input type="radio" class="rating_item" value="2" name="rating" />
      <input type="radio" class="rating_item" value="3" name="rating" />
      <input type="radio" class="rating_item" value="4" name="rating" />
      <input type="radio" class="rating_item" value="5" name="rating" />
    </div>
  </div>
</div>
