@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.circle {
    border-radius: 50%;
  }

  &.radius15 {
    border-radius: 15px
  }

  &_text{
    @include font-base(16px, 600, 24px);

    text-align: center;
    color: $white;
  }

  &.blue{
    background: $blue;
  }

  &.green{
    background: $green;
  }

  &.violet{
    background: $violent;
  }

  &.pink{
    background: $pink;
  }

  &.light-blue{
    background: $light-blue;
  }

  &.red{
    background: $red;
  }
}
