<div [class.select-overlay]="openFlag" (click)="open()"></div>
<button (click)="open()" class="select" [class.delivery]="deliveryStyle">
  {{ label }}
  <i-feather
    name="chevron-down"
    [class.active]="openFlag"
    class="select-chevron"
  ></i-feather>

  <div
    class="option-wrapper"
    [class.open]="openFlag"
    [class.delivery-option]="deliveryStyle"
  >
    <ng-container *ngIf="options?.length; else noOptions">
      <button
        *ngFor="let item of options; trackBy: trackByFn"
        (click)="selectOption(item)"
      >
        {{ item.viewValue }}
      </button>
    </ng-container>
  </div>
</button>

<ng-template #noOptions>
  <p>Оберіть населенний пункт</p>
</ng-template>
