@import "src/assets/styles/vars";

.container{

  ::ng-deep &_toggle{
    color: $gray2;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &.active{
      color: $light-black;
    }

    &:first-child {
      margin-right: 12px;
    }
  }
}
