<ng-container *ngFor="let g of fc.controls">
  <div>
    <input [formControl]="g.get('icon')" />
    title
    <input [formControl]="g.get('title')" />
  </div>
</ng-container>
<button (click)="send1()">send</button>

<div class="wrapper">
  <form [formGroup]="formGroup">
    title
    <input formControlName="title" />
    rating
    <input formControlName="rating" />
    taste
    <input formControlName="taste" />
    size
    <input formControlName="size" />
    periodGrow
    <input formControlName="periodGrow" />
    location
    <input formControlName="location" />
    storageConditions
    <input formControlName="storageConditions" />
    timeStorage
    <input formControlName="timeStorage" />
    price
    <input formControlName="price" />
    optPrice
    <input formControlName="optPrice" />
    optAmount
    <input formControlName="optAmount" />
    minAmount
    <input formControlName="minAmount" />
    description
    <input formControlName="description" />
    typeId
    <input formControlName="typeId" />
    typeText
    <input formControlName="typeText" />
  </form>
  <button (click)="send2()">send</button>
</div>
