@import "src/assets/styles/mixins";

.description {

  &-title {
    @include font-base(21px, 600, 33px );
  }

  &-text {
    @include font-base(17px, 400, 27px );

    margin-top: 30px;
    white-space: pre-line;
  }
}
.third{
  display: flex;
  flex-direction: column;
  &-head{
    display: flex;
    justify-content: space-between;
    &-name{
      @include font-base( 21px, 600, 33px)
    }
  }
  &-cardss{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

