<div class="card">
  <div class="card-wrap">
    <ng-container *ngIf="img; else noImg">
      <img
        [src]="img"
        (click)="goToProductDetail()"
        class="card-wrap-img"
        alt="product photo"
      />
    </ng-container>

    <div class="card-wrap-basket" (click)="addToBasket()">
      <svg-icon-sprite
        [src]="'assets/sprites/sprite.svg#cart'"
        [viewBox]="'0 0 19 20'"
        [classes]="'card-wrap-basket-bsk'"
      ></svg-icon-sprite>
    </div>
    <div class="card-wrap-text">
      <div class="card-wrap-text-first">
        <div class="card-wrap-text-first-name">{{ card.title }}</div>
        <svg-icon-sprite
          [src]="'assets/sprites/sprite.svg#heart'"
          [viewBox]="'0 0 28 24'"
          [width]="'20px'"
          [height]="'20px'"
          [classes]="
            heart
              ? 'card-wrap-text-first-heart yellow'
              : 'card-wrap-text-first-heart transparent'
          "
          (click)="like()"
        ></svg-icon-sprite>
      </div>
      <div class="bottom-wrapper">
        <div class="card-wrap-text-price">{{ card.price }} ₴/кг</div>
        <ng-container *ngIf="!isCategoryDetail">
          <div class="category-title" (click)="goToCategoryDetails()">
            {{ card.typeText }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #noImg>
  <div (click)="goToProductDetail()" class="card-wrap-no__img">
    <p class="title">No Photo</p>
  </div>
</ng-template>
