<div class="card">
  <div class="card-wrap">
    <img [src]="img" class="card-wrap-img" alt="product foto" />
    <div class="card-wrap-basket" (click)="addToBasket()">
      <svg-icon-sprite
        [src]="'assets/sprites/sprite.svg#cart'"
        [viewBox]="'0 0 19 20'"
        [classes]="'card-wrap-basket-bsk'"
      ></svg-icon-sprite>
    </div>
    <div class="card-wrap-text">
      <div class="card-wrap-text-first">
        <div class="card-wrap-text-first-name">{{ card.title }}</div>
        <svg-icon-sprite
          [src]="'assets/sprites/sprite.svg#heart'"
          [viewBox]="'0 0 28 24'"
          [width]="'20px'"
          [height]="'20px'"
          [classes]="
            heart
              ? 'card-wrap-text-first-heart yellow'
              : 'card-wrap-text-first-heart transparent'
          "
          (click)="like()"
        ></svg-icon-sprite>
      </div>
      <div class="bottom-wrapper">
        <div class="card-wrap-text-price">{{ card.price }} ₴/кг</div>
        <div class="category-title" (click)="goToCategoryDetails()">{{ card.typeText }}</div>
      </div>
    </div>
  </div>
</div>
