@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";

.card{
  @include font-base(15px, 600, 24px);

  display: flex;
  height: 326px;
  width: 224px;
  border-radius: 10px;
  background: $white;
  box-shadow: 0 5px 15px rgba(116, 116, 116, 0.15);

  &-wrap{
    position: relative;

    &-basket {
      cursor: pointer;
      height: 48px;
      width: 48px;
      position: absolute;
      background-color: $white;
      top: 162px;
      right: 10px;
      bottom: 10px;
      left: 166px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition:transform 0.3s, background-color 0.3s ;

      &:hover {
        transform: scale(1.15);
        background-color: $gray4;
      }

      svg-icon-sprite {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      ::ng-deep &-bsk{
        height: 20px;
        width: 19px;
      }
    }

    &-img{
      display: flex;
      height: 220px;
      width: 224px;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    &-text{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      min-height: 80px;
      &-first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px 0 10px;

        ::ng-deep &-heart {
          cursor: pointer;
          color: transparent;
          stroke: $main-black;
          transition: color 0.2s, stroke 0.2s, transform 0.2s;

          &.yellow{
            color: $light-yellow;
            stroke: $light-yellow ;
          }

          &:hover {
            transform: scale(1.3);
            stroke: $light-yellow ;
          }

        }

        &-name {
          @include font-base(15px, 600, 19px);

          letter-spacing: 0.0015em;
        }
      }

      &-price {
        @include font-base(15px, 500, 24px);

        letter-spacing: 0.001em;
      }
    }
    & .bottom-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      & .category-title {
        cursor: pointer;
      }
    }
  }
}

