<div class="wrapper">
  <div class="header">
    <p>{{ tittle }} ({{ mocCads.length }})</p>
    <div class="header-sort">
      <div class="header-sort-select">
        <app-sort-select
          [placeholder]="'Сортувати за'"
          [selectItems]="options"
        ></app-sort-select>
      </div>
      <app-toggle-view></app-toggle-view>
    </div>
  </div>
  <div class="card-container">
    <app-order-card-component
      *ngFor="let card of mocCads; trackBy: trackByFn"
      [ordersCards]="card"
    ></app-order-card-component>
  </div>
</div>
