<div class="price-card">
  <div class="price-card_main">
    <div class="price-card_main_naming">
      <p class="price-card_main_naming_name">Ціна</p>
      <p class="price-card_main_naming_name">Ціна оптова</p>
      <p class="price-card_main_naming_name">Мінімальний об’єм</p>
      <h5 class="price-card_main_naming_boldName1">Способи оплати:</h5>
      <h5 class="price-card_main_naming_boldName">Кількість:</h5>
      <h5 class="price-card_main_naming_boldName2">Загалом:</h5>
    </div>
    <div class="price-card_main_number">
      <h5 class="price-card_main_number_name1">{{ product[0].cost }} ₴/кг</h5>
      <h5 class="price-card_main_number_name2">
        {{ product[0].optcost }} ₴/від {{ product[0].optvalue }} кг
      </h5>
      <h5 class="price-card_main_number_name">{{ product[0].minvalue }} кг</h5>
      <h5 class="price-card_main_number_boldName1">
        <i-feather
          name="credit-card"
          class="price-card_main_number_boldName1_tools"
          (click)="cashOrCard()"
          [class.active]="cash"
        ></i-feather>
        <i-feather
          name="dollar-sign"
          class="price-card_main_number_boldName1_tools"
          (click)="cardOrCash()"
          [class.active]="card"
        ></i-feather>
      </h5>
      <div class="price-card_main_number_boldName">
        <span
          class="price-card_main_number_boldName_plus"
          (click)="minusproduct()"
          >-</span
        >
        <span class="price-card_main_number_boldName_number">{{
          product[0].kolvo
        }}</span>
        <span
          class="price-card_main_number_boldName_plus"
          (click)="plusproduct()"
          >+</span
        >
      </div>
      <h5 class="price-card_main_number_boldName">
        {{ product[0].all }} ₴ / за {{ product[0].kolvo }} кг
      </h5>
    </div>
  </div>
  <div class="price-card_button-block">
    <app-button [buttonText]="'Додати до кошика'"></app-button>
    <i-feather name="message-circle"></i-feather>
  </div>
</div>
