@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";

.price-card{
  width: 400px;
  height: 411px;
  background-color:$gray5;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  &_main{
    display: flex;
    justify-content: space-between;
    padding: 34px 22px 30px 30px;
    position: relative;

    &_naming{
      &_name{
        @include font-base(15px, 500, 24px);

        margin-bottom: 18px;
      }

      &_boldName{
        @include font-base(17px, 600, 27px);

        margin: 16px 0;
      }

      &_boldName2{
        @include font-base(17px, 600, 27px);
      }

      &_boldName1{
        @include font-base(17px, 600, 27px);

        margin: 36px 0;
      }
    }

    &_number{
      &_name1{
        @include font-base(21px, 600, 33px);

        margin-bottom: 12px;
      }

      &_name2{
        @include font-base(17px, 600, 27px);

        margin-bottom: 14px;
      }

      &_name{
        @include font-base(17px, 600, 27px);
      }

      &_boldName1{
        margin: 31.87px 0 35.88px 0;
        display: flex;
        justify-content: space-between;
        width: 95px;

        ::ng-deep &_tools{
          cursor: pointer;
          color: transparent;
        }
      }

      &_bottom{
        position: absolute;
        bottom: 30px;
        right: 22px;
      }

      &_boldName{
        @include font-base(17px, 600, 27px);

        margin-bottom: 16px;
        display: flex;

        &:last-child{
          margin-bottom: 0;
        }

        &_plus{
          @include font-base(16px, 600, 21px);

          cursor:pointer;
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;

          &:first-child {
            margin-right: 10px;
          }

          &.disable{
            color: $main-gray;
          }
        }

        &_number {
          margin-right: 10px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
        }
      }
    }
  }

  &_button-block{
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ::ng-deep &_dialog{
      width: 21px;
      height: 21px;
    }
  }
}
