@import "src/assets/styles/mixins";

.checkout {
  width: 100%;
  margin: 100px 0;

  &_wrap {
    @include font-base(17px, 600, 27px);

    &_link {
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: border-color 0.3s;

      &:first-child {
        margin-right: 50px;
      }

      &:hover {
        border-color: $main-black;
      }

      &:visited {
        color: $main-black;
      }
    }
  }

  &_title {
    @include font-base(21px, 600, 33px);

    margin-top: 20px;
  }

  &_input {
    @include font-base(17px, 400, 27px);

    display: flex;
    justify-content: space-between;

    &_block{
      width: 505px;

      &_item{
        &:not(:last-child){
          padding: 20px;
        }
      }
    }
  }
}

