<div class="checkout">
  <div class="checkout_wrap">
    <a
      (click)="changeState(false)"
      [class.check]="!state"
      class="checkout_wrap_link"
      >Продовжити без реєстрації</a
    >
    <a
      (click)="changeState(true)"
      [class.check]="state"
      class="checkout_wrap_link"
      >Увійти</a
    >
  </div>
  <div class="checkout_title">
    <p>Контактні дані</p>
  </div>
  <div class="checkout_input">
    <div class="checkout_input_block">
      <div class="checkout_input_block_name">
        <app-input [inputLabel]="'Ім’я'"></app-input>
      </div>
      <div class="checkout_input_block_phone">
        <app-input [inputLabel]="'Телефон'"></app-input>
      </div>
    </div>
    <div class="checkout_input_block">
      <div class="checkout_input_block_secondName">
        <app-input [inputLabel]="'Прізвище'"></app-input>
      </div>
      <div class="checkout_input_block_email">
        <app-input [inputLabel]="'Електронна пошта'"></app-input>
      </div>
    </div>
  </div>
  <div class="checkout_info">
    <p>Замовлення №</p>
    <p class="checkout_info_price">{{ totalPrice || totalPriceStr }} ₴</p>
  </div>
  <hr />
  <div class="checkout_order">
    <ng-container
      *ngTemplateOutlet="statusEdit ? editCard : defaultCard"
    ></ng-container>
    <div class="checkout_package">
      <p class="checkout_package_title">Додати еко-пакування?</p>
      <p class="checkout_package_subtitle">
        Ми пропонуємо різні види біорозкладних упакувань для вашого замовлення,
        ми завжди шукаємо нові та інноваційні способи допомогти врятувати нашу
        планету та зберегти продукти свіжими.
      </p>
      <div class="checkout_package_select">
        <app-select-delivery
          [label]="label"
          [options]="options"
          [deliveryStyle]="true"
          (selectedOption)="selectedPackage($event)"
        ></app-select-delivery>
      </div>
    </div>
    <hr />
  </div>
  <div class="checkout__delivery">
    <app-delivery-payment
      (deliveryObj)="deliveryDetailObj($event)"
    ></app-delivery-payment>
    <app-purchase-total
      [allProductPrice]="totalPrice"
      [oldProductPrice]="totalPriceStr"
      [package]="packageCost"
      [delivery]="deliveryCost"
      [totalProduct]="productQuantity"
      (addOrder)="confirmOrder()"
      (cancelOrder)="editOrder()"
      (cancelChanges)="cancelChanges()"
    ></app-purchase-total>
  </div>
</div>

<ng-template #defaultCard>
  <div
    class="checkout_order_content"
    *ngFor="let card of data; trackBy: getCardId"
  >
    <app-product-checkout-card [productCard]="card"></app-product-checkout-card>
  </div>
</ng-template>

<ng-template #editCard>
  <div
    class="checkout_order_content"
    *ngFor="let card of data; trackBy: getCardId"
  >
    <app-product-purchase-card
      [productCard]="card"
      (updateProductCard)="onUpdateProductCard($event)"
      (deleteCardEmitter)="deleteCard($event)"
    ></app-product-purchase-card>
  </div>
</ng-template>
