<div class="checkout">
  <div class="checkout_btn-wrap">
    <p class="checkout_btn-wrap_one">Продовжити без реєстрації</p>
    <p class="checkout_btn-wrap_two">Увійти</p>
  </div>
  <div class="checkout_title">
    <p>Контактні дані</p>
  </div>
  <div class="checkout_input">
    <div class="checkout_input_firstBlock">
      <p class="checkout_input_firstBlock_name">Ім’я</p>
      <app-input></app-input>
      <p class="checkout_input_firstBlock_phone">Телефон</p>
      <app-input></app-input>
    </div>
    <div class="checkout_input_secondBlock">
      <p class="checkout_input_secondBlock_secondName">Прізвище</p>
      <app-input></app-input>
      <p class="checkout_input_secondBlock_email">Електронна пошта</p>
      <app-input></app-input>
    </div>
  </div>
</div>
