<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <a href="#" class="footer__logo">
          <img
            class="footer__logo-img"
            src="./assets/images/footer/logo.svg"
            alt="logo"
          />
        </a>
        <h3 class="footer__title">Про нас</h3>
        <p class="footer__about">
          Маркетплейс свіжих овочів та фруктів в Україні.
        </p>
      </div>
      <div class="footer__link-wrapper">
        <div class="footer__render" *ngFor="let obj of footerConfig">
          <h3 class="footer__title">{{ obj.title }}</h3>
          <ul class="footer__list">
            <li class="footer__item" *ngFor="let objBody of obj.body">
              <a class="footer__link" [href]="objBody.href">{{
                objBody.name
              }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__app-wrapper">
        <h3 class="footer__title">Завантажуй додаток</h3>
        <ul class="footer__app-list">
          <li class="footer__app-item">
            <a class="footer__app-link" href="#">
              <span class="sr-only"> App for android </span>
              <img
                class="footer__app-img"
                src="./assets/images/footer/android.svg"
                alt="android"
              />
            </a>
          </li>
          <li class="footer__app-item">
            <a href="#" class="footer__app-link">
              <span class="sr-only"> App for Apple </span>
              <img
                class="footer__app-img"
                src="./assets/images/footer/apple.svg"
                alt="apple"
              />
            </a>
          </li>
        </ul>
        <h3 class="footer__title">Соціальні мережі</h3>
        <ul class="footer__app-list">
          <li class="footer__app-item">
            <a href="#" class="footer__app-link">
              <span class="sr-only"> Ours Instagram </span>
              <i-feather class="footer__app-icon" name="instagram"></i-feather>
            </a>
          </li>
          <li class="footer__app-item">
            <a href="#" class="footer__app-link">
              <span class="sr-only"> Ours Twitter </span>
              <i-feather class="footer__app-icon" name="twitter"></i-feather>
            </a>
          </li>
          <li class="footer__app-item">
            <a href="#" class="footer__app-link">
              <span class="sr-only"> Ours Facebook </span>
              <i-feather class="footer__app-icon" name="facebook"></i-feather>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
