<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <a routerLink="/" class="footer__logo">
          <svg-icon-sprite
            [src]="'assets/sprites/sprite-multicolor.svg#logo'"
            [classes]="'footer__logo-img'"
            [viewBox]="'0 0 252 43'"
          ></svg-icon-sprite>
        </a>
        <h3 class="footer__title">Про нас</h3>
        <p class="footer__about">
          Маркетплейс свіжих овочів та фруктів в Україні.
        </p>
      </div>
      <div class="footer__link-wrapper">
        <div
          class="footer__render"
          *ngFor="let obj of footerConfig; trackBy: trackByFn"
        >
          <h3 class="footer__title">{{ obj.title }}</h3>
          <ul class="footer__list">
            <li class="footer__item" *ngFor="let objBody of obj.body">
              <a class="footer__link" [href]="objBody.href">{{
                objBody.name
              }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__app-wrapper">
        <div
          class="footer__app-render"
          *ngFor="let obj of footerConfigApp; trackBy: trackByFn"
        >
          <h3 class="footer__title">{{ obj.title }}</h3>
          <ul class="footer__app-list">
            <li class="footer__app-item" *ngFor="let objBody of obj.body">
              <a class="footer__app-link" [href]="objBody.href">
                <span class="sr-only"> {{ objBody.srOnly }} </span>
                <svg-icon-sprite
                  src="{{ objBody.imgSrc }}"
                  [classes]="'footer__app-img'"
                  width="{{ objBody.width }}"
                  height="{{ objBody.height }}"
                ></svg-icon-sprite>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
