.baner-img {
  width: 100%;
  margin-top: -60px;
}
.header-index {
  z-index: 1;
  position: relative;
}

.header {

}

.container {
  position: relative;
  width: 100%;
  height: 324px;
  background-image: url("../../../assets/images/categories-baner/baner.png") ;
}
::ng-deep app-search{
  top: 111px;
  left: 111px;
}
