.header-index {
  z-index: 1;
  position: relative;
}
.search {
  position: absolute;
  left: -7%;
  top: -40%;
}
.container-body {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}

.body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.card-wrapper {
  margin-bottom: 36px;
}

.container {
  position: relative;
  width: 100%;
  height: 324px;
  background-image: url("../../../assets/images/categories-baner/baner.png") ;
  top: -60px;
}


