<button mat-button [matMenuTriggerFor]="menu" class="select-btn">
  {{ label }}
  <svg-icon-sprite
    [src]="'assets/sprites/sprite.svg#chevron-down'"
    [width]="'12px'"
    [height]="'8px'"
    [classes]="'select-btn-chevron'"
  ></svg-icon-sprite>
</button>

<mat-menu #menu="matMenu" yPosition="below">
  <button
    mat-menu-item
    *ngFor="let option of options; trackBy: trackByFn"
    (click)="selectOption(option.value)"
    class="option"
  >
    <b> {{ option.viewValue }}</b>
  </button>
</mat-menu>
