<div class="container">
  <div class="top">
    <p class="top_title">Каталог</p>
    <app-sort-select
      [selectItems]="mockSortTypes"
      [placeholder]="'Сортувати за'"
      class="top_select"
    ></app-sort-select>
  </div>
  <div class="categories_wrap">
    <div class="categories_wrap_cards" *ngFor="let card of categoryList">
      <app-product-category-card
        [productCategoryCard]="card"
      ></app-product-category-card>
    </div>
  </div>
</div>
<section class="second-block">
  <div class="container">
    <h2 class="second-block__title">Популярні продукти</h2>
    <div class="second-block__inner">
      <app-product-card
        *ngFor="let card of cardsArr"
        [card]="card"
      ></app-product-card>
    </div>
  </div>
</section>
