<select
  [class.padding]="placeholder || placeholderGray"
  [class.gray]="placeholderGray"
  [class.error]="sortControl.errors && sortControl.touched"
  class="select"
  [formControl]="sortControl"
  (change)="sendSortType()"
>
  <option
    class="option"
    *ngIf="placeholder || placeholderGray"
    disabled
    selected
    hidden
    value=""
  >
    {{ placeholder }} {{ placeholderGray }}
  </option>
  <option
    class="option"
    *ngFor="let item of selectItems; trackBy: trackByFn"
    [value]="[item.value || item.id]"
  >
    {{ item.viewValue || item.address }}
  </option>
</select>
