@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";

.select {
  @include font-base(15px, 600, 24px);

  width: 100%;
  border: 2px solid $gray1;
  border-radius: 8px;

  &.gray {
    @include font-base(17px, 400, 24px);
    color: $gray1;
  }

  & .option {
    @include font-base(15px, 600, 24px);
    color: $main-black;
  }


  &.padding {
    padding-right: 68px;
  }
}
