<section class="category">
  <div class="category__wrapper">
    <div class="left-path">
      <app-breadcrumbs class="left-path_breadcrumbs"></app-breadcrumbs>
      <div class="left-path_content">
        <app-product-card
          *ngFor="let card of products"
          class="left-path_content_card"
          [card]="card"
        >
        </app-product-card>
      </div>
    </div>
    <div class="right-path">
      <div class="right-path_header">
        <app-sort-select
          class="right-path_header-select"
          [selectItems]="mockSortTypes"
          [placeholder]="'Сортувати за'"
        ></app-sort-select>
        <app-button
          class="right-path_header-button"
          [buttonText]="'Дивитись на мапі'"
        ></app-button>
      </div>
      <iframe
        class="right-path-maps"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162757
        .72582752715!2d30.392608776782186!3d50
        .40217023837316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
        1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1665676057742!5m2!1suk!2sua"
      ></iframe>
    </div>
  </div>
</section>
