@import "src/assets/styles/vars";

.right-path_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-path-maps {
  margin-top: 19px;
  width: 714px;
  height: 1050px;
  border-radius: 10px;
  border: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $gray5;
}

::-webkit-scrollbar-thumb {
  background: $main-yellow;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-yellow;
}

.left-path{

  &_breadcrumbs{
    margin-bottom: 30px;
  }

  &_content{
    width: 520px;
    height: 1105px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;

    &_card{
      margin: 0 30px 36px 0;
    }
  }
}
