@import "src/assets/styles/vars";

.category{
  margin: 95px 0 40px;

  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
}

.right-path{

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px
  }

  &-maps {
    width: 714px;
    height: 1050px;
    border-radius: 10px;
    border: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $gray5;
}

::-webkit-scrollbar-thumb {
  background: $main-yellow;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-yellow;
}

.left-path{

  &_breadcrumbs{
    margin-bottom: 30px;
  }

  &_content{
    width: 520px;
    height: 1105px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 36px;
    overflow-y: scroll;
  }
}
