/* You can add global styles to this file, and also import other style files */
@import "src/assets/styles/fonts";
@import "src/assets/styles/vars";
html, body { height: 100%; }
body { margin: 0; background: $gray5;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $gray5;
}

::-webkit-scrollbar-thumb {
  background: $main-yellow;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-yellow;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $gray5;
}

::-webkit-scrollbar-thumb {
  background: $main-yellow;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-yellow;
}
