@import "vars";

@mixin font-base(
  $size: $font-size-base,
  $font-weight: 400,
  $height: $line-height-base,
  $font-style: normal,
  $font-family: $font-base
) {
  font: $font-weight $font-style #{$size}/#{$height $font-family};
}

@mixin sizeImg ($maxWidth, $maxHeight, $minWidth, $minHeight) {
  $addWidth: $maxWidth - $minWidth;
  $addHeight: $maxHeight - $minHeight;

  width: calc(#{$minWidth + px} + #{$addWidth} * ((100vw - 375px) / (1440 - 375)));
  height: calc(#{$minHeight + px} + #{$addHeight} * ((100vw - 375px) / (1440 - 375)));
}
