/*Colors*/
$main-yellow: #FFD345;
$light-yellow: #FAE294;
$green: #118252;
$main-black: #000000;
$light-black: #333333;
$gray1: #747474;
$gray2: #A0A0A0;
$gray3: #D9D9D9;
$gray4: #F1F1F1;
$gray5: #F5F5F5;

$main-white: #FFFFFF;

$white: #FFFFFF;
$red: #ff0000;
$blue: #4285F4;



/*Fonts*/
$font-base: "Saira", sans-serif;
$font-size-base: 15px;
$line-height-base: 1.4;

